td {
    border: 1px solid blue;
    height: 350px;
    width: 350px;
    padding: 50 px;

  }
  
  td:hover {
    background: orange;
    height: 350px;
    width: 350px;
    padding:50px;
  }
  
  table {
    border: 1px solid green;
    height: 350px;
    width:350px;
    padding:50px;
  }